<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="connection.driver_class">com.mysql.jdbc.Driver </property>
    <property name="connection.url">      jdbc:mysql://localhost/engenharia_software </property>
    <property name="connection.username"> esgerosa                     </property>
    <property name="connection.password"> alunoses                  </property>
    <property name="connection.pool_size">10                       </property>
    <property name="show_sql">            true                     </property>
    <property name="dialect">             org.hibernate.dialect.MySQLDialect</property>
    <property name="hbm2ddl.auto">        update                    </property>
 
    <!-- mapping files -->
    <mapping resource="auxiliares/Carro.hbm.xml" />
  </session-factory>
</hibernate-configuration>
